SAVER_DB_ROOT_PASSWORD=replace-with-a-random-local-password
SAVER_MEILI_MASTER_KEY=replace-with-a-random-local-key
SAVER_AUTH_CP_OAUTH_CLIENT_SECRET=replace-with-oauth-client-secret
SAVER_AUTH_CP_OAUTH_CLIENT_ID=replace-with-oauth-client-id
SAVER_DB_PASSWORD=replace-with-a-random-local-password
SAVER_REDIS_PASSWORD=replace-with-redis-password
